# Ignore everything
/*

# Folders
!/gradle
!/src

# Files
!/.gitattributes
!/.gitignore
!/build.gradle
!/build.gradle.kts
!/settings.gradle.kts
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/.github
!/examples
